<ngroom-modal [open]="isOpen()" (closeRequest)="closeModal()" [config]="modalConfig">
  <article modal-header>
    <h2 class="text-lg font-semibold">Crear sala</h2>
  </article>
  <ng-content modal-body>
    <section class="flex justify-center items-center gap-2 p-2.5 bg-neutral-100 dark:bg-neutral-800 rounded-2xl">
      <lucide-angular [img]="pencilLineIcon" class="h-5 w-5" />
      <input class="flex-1 focus:outline-none" type="text" placeholder="Ingrese nombre de la sala"
        [formControl]="presenter.nameControl" />
    </section>
  </ng-content>
  <ng-content modal-footer>
    <ngroom-button variant="base" [disabled]="presenter.isLoading()" (click)="closeModal()">Cancelar</ngroom-button>
    <ngroom-button variant="primary" [disabled]="disableButton()">
      {{ primaryActionLabel() }}
    </ngroom-button>
  </ng-content>
</ngroom-modal>