@custom-variant dark (&:where(.dark, .dark *));
@custom-variant invalid (&:where(.ng-invalid.ng-touched));

@theme {
  /* COLORS */

  /* Brand */
  --color-brand: #e90364;

  /* Primary */
  --color-primary-100: #ffe7fd;
  --color-primary-200: #ffcefd;
  --color-primary-300: #ffa7f8;
  --color-primary-400: #ff73f2;
  --color-primary-500: #f637e3;
  --color-primary-600: #db1ec5;
  --color-primary-700: #b5169e;
  --color-primary-800: #941481;
  --color-primary-900: #791667;
  --color-primary-950: #510143;

  /* Neutral */
  --color-neutral-050: #f2f2f2;
  --color-neutral-100: #e6e6e6;
  --color-neutral-200: #cccccc;
  --color-neutral-300: #b3b3b3;
  --color-neutral-400: #999999;
  --color-neutral-500: #808080;
  --color-neutral-600: #666666;
  --color-neutral-700: #4d4d4d;
  --color-neutral-800: #333333;
  --color-neutral-900: #1a1a1a;
  --color-neutral-950: #121212;

  /* Danger */
  --color-danger-400: #ff5c37;
  --color-danger-500: #ff3e1d;
  --color-danger-600: #f01806;
  --color-danger-700: #c70c07;
  --color-danger-800: #9e0e10;

  /* Error */
  --color-error: #dc2626;

  /* Success */
  --color-success: #14ffec;

  /* Warning */
  --color-warning: #ffb22c;
}
