@layer components {
  /* =========================
              ATOMS
  ========================= */

  /*  
      Button styles
  */
  .btn {
    @apply inline-flex items-center justify-center
           px-3 py-2 rounded font-semibold
           transition-colors
           border border-transparent;
  }

  .btn-primary {
    @apply bg-primary-500 text-neutral-100
           hover:bg-primary-600
           dark:bg-primary-700;
  }

  .btn-secondary {
    @apply bg-neutral-300 text-neutral-950
           hover:bg-neutral-400
           dark:bg-neutral-600
           dark:text-neutral-100;
  }

  .btn-danger {
    @apply bg-danger-500 text-neutral-100
           hover:bg-danger-600
           dark:bg-danger-700;
  }

  .btn-text {
    @apply bg-transparent 
           hover:underline;
  }

  .btn:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
