@layer components {
  /* =========================
              ATOMS
  ========================= */

  /*  
      Button styles
  */
  .btn {
    @apply inline-flex items-center justify-center
           px-3 py-2 rounded-lg font-semibold
           w-full
           transition-colors
           border;
  }

  .btn-primary {
    @apply border-transparent bg-primary-500 text-neutral-100
           hover:bg-primary-600
           dark:hover:bg-primary-500
           dark:bg-primary-600;
  }

  .btn-secondary {
    @apply bg-neutral-50 text-neutral-950
           border-neutral-200
           hover:bg-neutral-100
           hover:dark:bg-neutral-700
           dark:bg-neutral-800
           dark:border-neutral-600
           dark:text-neutral-100;
  }

  .btn-danger {
    @apply border-transparent bg-danger-500 text-neutral-100
           hover:bg-danger-600
           dark:bg-danger-700;
  }

  .btn-base {
    @apply bg-transparent border-transparent;
  }

  .btn:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  /*
      Badge styles
  */
  .badge {
    @apply inline-flex items-center rounded-md
         bg-primary-400/10 px-2 py-1 text-xs font-medium
         text-neutral-400 inset-ring inset-ring-gray-400/20;
  }

  /*  
      UserStatus styles
  */
  .user-status {
    @apply inline-flex items-center rounded-full
           px-2.5 py-0.5 text-xs font-medium
           text-neutral-100 bg-primary-600/20
           dark:bg-primary-500/20;
  }

  /*
      =========================
              COMPONENTS
      =========================
  */

  .bg-surface {
    @apply bg-neutral-50 dark:bg-neutral-900;
  }

  .custom-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-neutral-100;
    @apply scrollbar-track-neutral-50 overflow-y-auto;
    @apply dark:scrollbar-thumb-neutral-800 dark:scrollbar-track-neutral-900;
  }
}
