@layer components {
  /* =========================
              ATOMS
  ========================= */

  /*  
      Button styles
  */
  .btn {
    @apply inline-flex items-center justify-center
           px-3 py-2 rounded font-semibold
           w-full
           transition-colors
           border;
  }

  .btn-primary {
    @apply border-transparent bg-primary-500 text-neutral-100
           hover:bg-primary-600
           dark:hover:bg-primary-500
           dark:bg-primary-600;
  }

  .btn-secondary {
    @apply bg-neutral-50 text-neutral-950
           border-neutral-200
           hover:bg-neutral-100
           hover:dark:bg-neutral-700
           dark:bg-neutral-800
           dark:border-neutral-600
           dark:text-neutral-100;
  }

  .btn-danger {
    @apply border-transparent bg-danger-500 text-neutral-100
           hover:bg-danger-600
           dark:bg-danger-700;
  }

  .btn-base {
    @apply bg-transparent border-transparent;
  }

  .btn:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
